# 依赖目录
node_modules/

# 上传文件目录
uploads/

# 日志文件
*.log

# 系统文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/

# 环境变量文件
.env
.env.local
.env.development
.env.production

# npm相关
npm-debug.log*
.npm
.vercel
